<template name="UserFormSection">
  <div class="row animated fadeIn">
    <div class="col">
      {{#if Template.subscriptionsReady}}
      <!-- !T&C -->
      {{#if hasAcceptedTandC}}
      <form id="user_form">
        <!-- email not verified && account created -->
        {{#if $or emailNotVerified hasToPay}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <h4 class="alert-heading">Current status</h4>
          <hr> {{#if emailNotVerified}}
          <strong>Missing verification:</strong> you haven't verified your email yet. This is a fundamental step for you to be successfully
          enrolled.
          <a id="resendEmailVerification" href>Resend</a>
          {{/if}} 
          <!-- MISSING PAYMENT NOT NEEDED FOR EXTERNALS
          {{#if $and emailNotVerified hasToPay}}
          <hr> {{/if}} {{#if hasToPay}}
          <strong>Missing payment:</strong> we still haven't received you back transfer with the following information.
          <ul class="mb-0">
            <li>
              Amount to pay:
              <strong>{{lp.amountToPay}}</strong>
            </li>
            <li>
              Reason for payment:
              <strong>Snowdays fee - {{lp.paymentID}} - {{lp.lastName}} - {{lp.university}}</strong>
            </li>
            <li>
              IBAN:
              <strong>IT32Q 08081 11610 000306004547</strong>
            </li>
            <li>
              Directed to:
              <strong>SPORTS CLUB UNIVERSITY BOLZANO</strong>
            </li>
            <li>
              Bank:
              <strong>Cassa Rurale Bolzano</strong>
            </li>
          </ul>
          {{/if}} -->
        </div>
        {{/if}}

        <div class="row">
          <!-- COLUMN 1 -->
          <div class="col-12 col-md-8">
            <div class="row">
              <!-- COLUMN 1 -->
              <div class="col-12 col-md-6">
                <h4>Personal</h4>
                <hr>
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 pr-1">
                    <div class="sn-field-group">
                      <input type="text" class="sn-field-input" name="first_name" id="first_name" value="{{lp.firstName}}" required>
                      <label for="first_name" class="sn-field-label">First name</label>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-1">
                    <div class="sn-field-group">
                      <input type="text" class="sn-field-input" name="last_name" id="last_name" value="{{lp.lastName}}" required>
                      <label for="last_name" class="sn-field-label">Last name</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 pr-1">
                    <div class="sn-field-group">
                      <select class="sn-field-input sn-a-0" id="gender" name="gender" required>
                        <option disabled>Choose</option>
                        <option value="M" {{selectedIf lp.gender 'M'}}>Male</option>
                        <option value="F" {{selectedIf lp.gender 'F'}}>Female</option>
                      </select>
                      <label for="gender" class="sn-field-label">Gender</label>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-1">
                    <div class="sn-field-group">
                      <input class="sn-field-input" type="date" name="birth_date" id="birth_date" value="{{lp.birth.date}}" required placeholder="mm/dd/yyyy">
                      <label for="birth_date" class="sn-field-label sn-upper-label">Birth date</label>
                    </div>
                  </div>
                </div>
                
                <div class="sn-field-group">
                  <input type="text" class="sn-field-input" name="birth_country" id="birth_country" value="{{lp.birth.country}}" required>
                  <label for="birth_country" class="sn-field-label">Birth country</label>
                </div>

                <div class="sn-field-group">
                  <input type="text" class="sn-field-input" name="university" id="university" value="UNI FROM ADMIN GOES HERE" disabled required>
                  <label for="university" class="sn-field-label">University</label>
                </div>

                <div class="sn-field-group">
                  <input type="text" class="sn-field-input" name="phone" id="phone" value="{{lp.phone}}" required>
                  <label for="phone" class="sn-field-label">Phone</label>
                </div>
    
                <div class="sn-field-group">
                  <input type="text" class="sn-field-input" name="email" id="email" value="{{lp.email}}" required>
                  <label for="email" class="sn-field-label">Email</label>
                  <small id="emailHelp" class="form-text text-muted">
                    You'll receive a confirmation email.
                  </small>
                  <small id="emailHelp" class="form-text text-muted">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    We won't share it with anyone.
                  </small>
                </div>

                <!-- PASSWORD -->
                <div class="sn-field-group">
                  {{#if isPasswordRequired}}
                  <input type="password" class="sn-field-input" name="password" id="password" required> {{else}}
                  <input type="password" class="sn-field-input" name="password" id="password"> {{/if}}
                  <label for="password" class="sn-field-label">Password</label>
                  <small id="passwordHelp" class="form-text text-muted">
                    You'll be able to login again with email and password in case you'll need to update your preferences.
                  </small>
                </div>
                <!-- ADDRESS -->
                <h4 class="mt-5 mt-md-0">Address</h4>
                <hr>
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 pr-1">
                    <div class="sn-field-group">
                      <input type="text" class="sn-field-input" name="street" id="street" required value="{{lp.info.street}}">
                      <label for="street" class="sn-field-label">Street</label>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 pr-1">
                    <div class="sn-field-group">
                      <input type="text" class="sn-field-input" name="number" id="number" required value="{{lp.info.number}}">
                      <label for="number" class="sn-field-label">Number</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-8 col-md-12 col-lg-8 pr-1">
                    <div class="sn-field-group">
                      <input type="text" class="sn-field-input" name="city" id="city" required value="{{lp.info.city}}">
                      <label for="city" class="sn-field-label">City</label>
                    </div>
                  </div>
                  <div class="col-12 col-sm-4 col-md-12 col-lg-4 pl-1">
                    <div class="sn-field-group">
                      <input type="text" class="sn-field-input" name="zip" id="zip" required value="{{lp.info.zip}}">
                      <label for="zip" class="sn-field-label">ZIP</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 pr-1">
                    <div class="sn-field-group">
                      <input type="text" class="sn-field-input" name="province" id="province" required value="{{lp.info.province}}">
                      <label for="province" class="sn-field-label">Province</label>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-1">
                    <div class="sn-field-group">
                      <input type="text" class="sn-field-input" name="country" id="country" required value="{{lp.info.country}}">
                      <label for="country" class="sn-field-label">Country</label>
                    </div>
                  </div>
                </div>
                <!-- DOCUMENTS -->
            <h4 class="mt-5 mt-md-0">Documents
                <small class="text-muted">png/jpg</small>
              </h4>
              <small class="text-muted text-danger">BOTH SIDES</small>
              <hr>
              <div class="d-flex justify-content-around align-items-center flex-column">
                <!-- FRONT -->
                <div class="d-flex justify-content-center">
                  {{#if hasPersonalIDFront}}
                  <p class="animated fadeIn mb-0">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Personal ID [FRONT]
                  </p>
                  {{else}} {{#with uploadingPIDFront}}
                  <p class="sn-loader">Uploading...</p>
                  {{else}}
                  <input type="file" name="has_personal_id_front" id="has_personal_id_front" class="sn-input-file sn-btn-rounded" />
                  <label for="has_personal_id_front" class="m-0">
                    <i class="fa fa-cloud-upload mr-2" aria-hidden="true"></i>
                    <b>Personal ID [FRONT]</b>
                  </label>
                  {{/with}} {{/if}}
                </div>
  
                <!-- BACK -->
                <div class="mt-1 d-flex justify-content-center">
                  {{#if hasPersonalIDBack}}
                  <p class="animated fadeIn mb-0">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Personal ID [BACK]
                  </p>
                  {{else}} {{#with uploadingPIDBack}}
                  <p class="sn-loader">Uploading...</p>
                  {{else}}
                  <input type="file" name="has_personal_id_back" id="has_personal_id_back" class="sn-input-file sn-btn-rounded" />
                  <label for="has_personal_id_back" class="m-0">
                    <i class="fa fa-cloud-upload mr-2" aria-hidden="true"></i>
                    <b>Personal ID [BACK]</b>
                  </label>
                  {{/with}} {{/if}}
                </div>
              </div>
              <div class="mt-2 d-flex justify-content-around align-items-center flex-column">
                {{#if not_equals lp.university 'Alumni Bolzano'}}
                <!-- FRONT -->
                <div class="d-flex justify-content-center">
                  {{#if hasStudentIDFront}}
                  <p class="animated fadeIn mb-0">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Student ID [FRONT]
                  </p>
                  {{else}} {{#with uploadingSIDFront}}
                  <p class="sn-loader mt-1">Uploading...</p>
                  {{else}}
                  <input type="file" name="has_student_id_front" id="has_student_id_front" class="sn-input-file sn-btn-rounded mt-2" />
                  <label for="has_student_id_front" class="m-0">
                    <i class="fa fa-cloud-upload mr-2" aria-hidden="true"></i>
                    <b>Student ID [FRONT]</b>
                  </label>
                  {{/with}} {{/if}}
                </div>
  
                <!-- BACK -->
                <div class="d-flex mt-1 justify-content-center">
                  {{#if hasStudentIDBack}}
                  <p class="animated fadeIn mb-0">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Student ID [BACK]
                  </p>
                  {{else}} {{#with uploadingSIDBack}}
                  <p class="sn-loader mt-1">Uploading...</p>
                  {{else}}
                  <input type="file" name="has_student_id_back" id="has_student_id_back" class="sn-input-file sn-btn-rounded mt-2" />
                  <label for="has_student_id_back" class="m-0">
                    <i class="fa fa-cloud-upload mr-2" aria-hidden="true"></i>
                    <b>Student ID [BACK]</b>
                  </label>
                  {{/with}} {{/if}}
                </div>
                {{/if}}
              </div>
              </div>
              <!-- COLUMN 2 -->
              <div class="col-12 col-md-6">
                <!-- ACTIVITIES -->
                <!-- DAY 1 -->
                <h4 class="mt-5 mt-md-0">First Day Activities</h4>
                <hr>
                <div class="sn-field-group">
                  <div>
                    <label class="custom-control custom-checkbox">
                      {{#if isDay1Swimming}}
                      <input type="checkbox" class="custom-control-input" id="swimming" name="swimming" checked> {{else}}
                      <input type="checkbox" class="custom-control-input" id="swimming" name="swimming"> {{/if}}
                      <label class="custom-control-label" for="swimming">Swimming</label>
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-checkbox">
                      {{#if isDay1BubbleFootball}}
                      <input type="checkbox" class="custom-control-input" id="bubble_football" name="bubble_football" checked> {{else}}
                      <input type="checkbox" class="custom-control-input" id="bubble_football" name="bubble_football"> {{/if}}
                      <label class="custom-control-label" for="bubble_football">Bubble Football Tournament</label>
                    </label>
                  </div>
                  <div>
                    <label class="custom-control custom-checkbox">
                      {{#if isDay1Other}}
                      <input type="checkbox" class="custom-control-input" id="day1_other" name="day1_other" checked> {{else}}
                      <input type="checkbox" class="custom-control-input" id="day1_other" name="day1_other"> {{/if}}
                      <label class="custom-control-label" for="day1_other">I just want to drink, dance and have fun</label>
                    </label>
                  </div>
                </div>

                <!-- DAY 2 -->
                <h4 class="mt-5 mt-md-0">Second Day Activities</h4>
                <small class="form-text text-danger">
                  IMPORTANT: if you want to participate in other activities you won’t be able to ski/snowboard as you WON'T get a skipass</small>
                <hr>
                <div class="sn-field-group">
                  <div>
                    <label class="custom-control custom-checkbox">
                      {{#if isDay2SkiOrSnow}}
                      <input type="checkbox" class="custom-control-input" id="day2_ski_or_snow" name="day2_ski_or_snow" checked> {{else}}
                      <input type="checkbox" class="custom-control-input" id="day2_ski_or_snow" name="day2_ski_or_snow"> {{/if}}
                      <label class="custom-control-label" for="day2_ski_or_snow">I want to ski/snowboard on my own</label>
                    </label>
                  </div>
                  <div>
                      <label class="custom-control custom-checkbox">
                        {{#if isDay2SkiCourse}}
                        <input type="checkbox" class="custom-control-input" id="day2_ski_course" name="day2_ski_course" checked> {{else}}
                        <input type="checkbox" class="custom-control-input" id="day2_ski_course" name="day2_ski_course"> {{/if}}
                        <label class="custom-control-label" for="day2_ski_course">Ski Course</label>
                      </label>

                      <label class="custom-control custom-checkbox" style="font-size: 12px; margin-left: 20px;">
                        {{#if begginerSkiCourse}}
                        <input type="checkbox" class="custom-control-input" id="day2_ski_course_begginer" checked> {{else}}
                        <input type="checkbox" class="custom-control-input" id="day2_ski_course_begginer"> {{/if}}
                        <label class="custom-control-label" for="day2_ski_course_begginer">begginer</label>
                      </label>

                      <label class="custom-control custom-checkbox" style="font-size: 12px; margin-left: 20px;">
                        {{#if intermediateSkiCourse}}
                        <input type="checkbox" class="custom-control-input" id="day2_ski_course_intermediate" checked> {{else}}
                        <input type="checkbox" class="custom-control-input" id="day2_ski_course_intermediate"> {{/if}}
                        <label class="custom-control-label" for="day2_ski_course_intermediate">intermeddiate</label>
                      </label>
                  </div>
                  <div>
                      <label class="custom-control custom-checkbox">
                        {{#if isDay2SnowCourse}}
                        <input type="checkbox" class="custom-control-input" id="day2_snow_course" name="day2_snow_course" checked {{selectedIf lp.courseType 'Snow'}} > {{else}}
                        <input type="checkbox" class="custom-control-input" id="day2_snow_course" name="day2_snow_course"> {{/if}}
                        <label class="custom-control-label" for="day2_snow_course">Snowboard Course</label>
                      </label>
                    
                      <label class="custom-control custom-checkbox" style="font-size: 12px; margin-left: 20px;">
                        {{#if begginerSnowCourse}}
                        <input type="checkbox" class="custom-control-input" id="day2_snow_course_begginer" checked> {{else}}
                        <input type="checkbox" class="custom-control-input" id="day2_snow_course_begginer"> {{/if}}
                        <label class="custom-control-label" for="day2_snow_course_begginer">begginer</label>
                      </label>

                      <label class="custom-control custom-checkbox" style="font-size: 12px; margin-left: 20px;">
                        {{#if intermediateSnowCourse}}
                        <input type="checkbox" class="custom-control-input" id="day2_snow_course_intermediate" checked> {{else}}
                        <input type="checkbox" class="custom-control-input" id="day2_snow_course_intermediate"> {{/if}}
                        <label class="custom-control-label" for="day2_snow_course_intermediate">intermeddiate</label>
                      </label>

                  </div>
                  <div>
                      <label class="custom-control custom-checkbox">
                        {{#if isDay2SkiRace}}
                        <input type="checkbox" class="custom-control-input" id="day2_ski_race" name="day2_ski_race" checked> {{else}}
                        <input type="checkbox" class="custom-control-input" id="day2_ski_race" name="day2_ski_race"> {{/if}}
                        <label class="custom-control-label" for="day2_ski_race">Ski Race</label>
                      </label>
                  </div>
                  <div>
                      <label class="custom-control custom-checkbox">
                        {{#if isDay2SnowRace}}
                        <input type="checkbox" class="custom-control-input" id="day2_snow_race" name="day2_snow_race" checked> {{else}}
                        <input type="checkbox" class="custom-control-input" id="day2_snow_race" name="day2_snow_race"> {{/if}}
                        <label class="custom-control-label" for="day2_snow_race">Snowboard Race</label>
                      </label>
                  </div>
                  <div>
                      <label class="custom-control custom-checkbox">
                        {{#if isDay2JibSession}}
                        <input type="checkbox" class="custom-control-input" id="day2_jib_session" name="day2_jib_session" checked> {{else}}
                        <input type="checkbox" class="custom-control-input" id="day2_jib_session" name="day2_jib_session"> {{/if}}
                        <label class="custom-control-label" for="day2_jib_session">Jib Session Competition</label>
                      </label>
                  </div>
                  <div>
                    <label class="custom-control custom-checkbox">
                      {{#if isDay2Other}}
                      <input type="checkbox" class="custom-control-input" id="day2_other" name="day2_other" checked> {{else}}
                      <input type="checkbox" class="custom-control-input" id="day2_other" name="day2_other"> {{/if}}
                      <label class="custom-control-label" for="day2_other">Other activities (beer pong, snowshoes walking, line dragging, twister, slackline, flunky ball)</label>
                    </label>
                  </div>
                </div>

                <!-- RENTAL -->
                <div> 
                    <h4 class="mt-5 mt-md-0">Renting Material</h4><h6>(Second Day)</h6>
                </div>
                <small class="form-text text-danger">
                  Rental Fee NOT included in the ticket</small>
                <hr>
                
                <div class="sn-field-group">
                  <select class="sn-field-input sn-a-0" id="rent_material" name="rent_material" required>
                    <option disabled>Choose</option>
                    <option value="None" {{selectedIf lp.rentMaterial 'None'}}>None</option>
                    <option value="Ski" {{selectedIf lp.rentMaterial 'Ski'}}>Ski</option>
                    <option value="Snowboard" {{selectedIf lp.rentMaterial 'Snowboard'}}>Snowboard</option>
                  </select>
                  <label for="rent_material" class="sn-field-label sn-upper-label">Renting maerial</label>

                  {{#if rentSkiis}}
                  <label class="custom-control custom-checkbox">
                    {{#if lp.rentSkiBoots}}
                    <input type="checkbox" class="custom-control-input" id="rentSkiBoots" checked> {{else}}
                    <input type="checkbox" class="custom-control-input" id="rentSkiBoots"> {{/if}}
                    <label class="custom-control-label" for="rentSkiBoots">Ski Boots</label>
                  </label>
                  <label class="custom-control custom-checkbox">
                    {{#if lp.rentSkiSticks}}
                    <input type="checkbox" class="custom-control-input" id="rentSkiSticks" checked> {{else}}
                    <input type="checkbox" class="custom-control-input" id="rentSkiSticks"> {{/if}}
                    <label class="custom-control-label" for="rentSkiSticks">Ski Sticks</label>
                  </label>
                  <label class="custom-control custom-checkbox">
                    {{#if lp.rentHelmet}}
                    <input type="checkbox" class="custom-control-input" id="rentHelmet" checked> {{else}}
                    <input type="checkbox" class="custom-control-input" id="rentHelmet"> {{/if}}
                    <label class="custom-control-label" for="rentHelmet">Helmet</label>
                  </label>
                  {{/if}} {{#if rentSnowboard}}
                  <label class="custom-control custom-checkbox">
                    {{#if lp.rentSnowboardBoots}}
                    <input type="checkbox" class="custom-control-input" id="rentSnowboardBoots" checked> {{else}}
                    <input type="checkbox" class="custom-control-input" id="rentSnowboardBoots"> {{/if}}
                    <label class="custom-control-label" for="rentSnowboardBoots">Snowboard</label>
                  </label>
                  <label class="custom-control custom-checkbox">
                    {{#if lp.rentHelmet}}
                    <input type="checkbox" class="custom-control-input" id="rentHelmet" checked> {{else}}
                    <input type="checkbox" class="custom-control-input" id="rentHelmet"> {{/if}}
                    <label class="custom-control-label" for="rentHelmet">Helmet</label>
                  </label>
                  {{/if}}
                </div>

                <!-- RENTING PREFERENCES -->
                <h4 class="mt-5 mt-md-0">Renting Preferences</h4>
                <small class="form-text text-danger">IMPORTANT: be aware that you WON'T be able to modify the information given here after the enrolment closes. Rental material will be prepared before the event based on the given information.</small>
                <hr>
                <h7 class="mt-5 mt-md-0"></h7>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="sn-field-group">
                      <input type="number" class="sn-field-input" name="height" id="height" value="{{lp.height}}">
                      <label for="height" class="sn-field-label">Height (cm)</label>
                      <small class="form-text text-muted">
                        Required if renting.
                      </small>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 pr-1">
                    <div class="sn-field-group">
                      <input type="number" class="sn-field-input" name="weight" id="weight" value="{{lp.weight}}">
                      <label for="weight" class="sn-field-label">Weight (kg)</label>
                      <small class="form-text text-muted">
                        Required if renting.
                      </small>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-12 col-lg-6 pl-1">
                    <div class="sn-field-group">
                      <input type="number" class="sn-field-input" name="shoe_size" id="shoe_size" value="{{lp.shoeSize}}">
                      <label for="shoe_size" class="sn-field-label">Shoe size (EU or US size only)</label>
                      <small class="form-text text-muted">
                        Required if renting.
                      </small>
                    </div>
                  </div>
                </div>
      
              </div>
            </div>
          </div>

          <!-- COLUMN 3 -->
          <div class="col-12 col-md-4">
            
            <!-- DAY 3 -->
            <h4 class="mt-5 mt-md-0">Third Day Activities</h4>
            <small class="form-text text-danger">
              IMPORTANT: if you want to participate in other activities or in the tournaments you won’t be able to ski/snowboard as you WON'T get a skipass</small>
            <hr>
      
            <div class="sn-field-group">
                <div>
                    <label class="custom-control custom-checkbox">
                      {{#if isDay3PartOfTeam}}
                      <input type="checkbox" class="custom-control-input" id="day3_part_of_team" name="day3_part_of_team" checked> {{else}}
                      <input type="checkbox" class="custom-control-input" id="day3_part_of_team" name="day3_part_of_team"> {{/if}}
                      <label class="custom-control-label" for="day3_part_of_team">I’m part of a Snowvolley/Human Table Snowfootball team</label>
                    </label>
                  </div>
              <div>
                <label class="custom-control custom-checkbox">
                  {{#if isDay3SkiOrSnow}}
                  <input type="checkbox" class="custom-control-input" id="day3_ski_or_snow" name="day3_ski_or_snow" checked> {{else}}
                  <input type="checkbox" class="custom-control-input" id="day3_ski_or_snow" name="day3_ski_or_snow"> {{/if}}
                  <label class="custom-control-label" for="day3_ski_or_snow">I want to ski/snowboard on my own</label>
                </label>
              </div>
              <div>
                <label class="custom-control custom-checkbox">
                  {{#if isDay3Other}}
                  <input type="checkbox" class="custom-control-input" id="day3_other" name="day3_other" checked> {{else}}
                  <input type="checkbox" class="custom-control-input" id="day3_other" name="day3_other"> {{/if}}
                  <label class="custom-control-label" for="day3_other"> Other activities (beer pong, table boulder contest, line dragging, twister, slackline, flunky ball)</label>
                </label>
              </div>
            </div>

            <h4 class="mt-5 mt-md-0">Extra Information</h4>
                <hr><h7 class="mt-5 mt-md-0"></h7>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="sn-field-group">
                      <select class="sn-field-input sn-a-0" id="tshirt" name="tshirt" required>
                        <option disabled>Choose</option>
                        <option value="S" {{selectedIf lp.tshirt 'S'}}>Small</option>
                        <option value="M" {{selectedIf lp.tshirt 'M'}}>Medium</option>
                        <option value="L" {{selectedIf lp.tshirt 'L'}}>Large</option>
                        <option value="XL" {{selectedIf lp.tshirt 'XL'}}>Extra Large</option>
                      </select>
                      <label for="tshirt" class="sn-field-label sn-upper-label"> T-Shirt size</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="sn-field-group">
                      <input type="text" class="sn-field-input" name="food_allergies" id="food_allergies" value="{{lp.foodAllergies}}">
                      <label for="food_allergies" class="sn-field-label">Food allergies</label>
                      <small class="form-text text-muted">Separate with commas if any.</small>
                    </div>
                  </div>
              </div>

            <!-- PAYMENT SUMMARY -->
            <div class="card mt-2" style="border: 2px solid #f1c40f; margin-top: 10px;">
              <div class="card-body">
                <h6 class="card-subtitle mt-0 mb-2 sn-orange">Payment summary</h6>
                <ul class="text-muted">
                    <li>Ticket price:<strong> 115€</strong></li>
                </ul>
                <p style="font-size: 12px; margin-top: 10px;">*Please get in touch with your contact person for the payment procedure.</p>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <nav class="col-12 mb-3 flex-column">
            <hr>
            <div class="row">
              <div class="col-6 text-left">
                <h6 class="mb-1">Need help?</h6>
                <p>Drop an email to
                  <br>
                  <a href="mailto:info@snowdays.it?subject=[Snowdays%20Help]%20{{lp.firstName}}%20{{lp.lastName}}%20({{lp._id}})">info@snowdays.it</a>
                </p>
              </div>
              
              <div class="col-6 text-right">
                {{#if isInRole 'admin'}}
                <button type="submit" class="sn-btn-outline-green" name="save" formnovalidate>
                  Save
                </button>
                {{else}}
                <button type="submit" class="sn-btn-outline-green" name="save">
                  {{proceedButton}}
                </button>
                {{/if}}
              </div>
            </div>
          </nav>
        </div>
      </form>
      {{else}}
      <!-- T&C-->
      {{> TCSection}} {{/if}} {{else}} {{> Loader}} {{/if}}
    </div>
  </div>
</template>

<template name="SuccessSection">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h3>Congratulations!</h3>
      <p>
        <strong>Your email has been verified and your information successfully saved.</strong>
      </p>

      <div class="card">
        <div class="card-body">
          Last thing: payment. Please send a bank transfer to Snowdays
          <strong>before</strong> the 21th.
          <ul>
            <li>
              Amount to pay:
              <strong>{{lp.amountToPay}}</strong>
            </li>
            <li>
              Reason for payment:
              <strong>Snowdays fee - {{lp.paymentID}} - {{lp.lastName}} - {{lp.university}}</strong>
            </li>
            <li>
              IBAN:
              <strong>IT32Q 08081 11610 000306004547</strong>
            </li>
            <li>
              Directed to:
              <strong>SPORTS CLUB UNIVERSITY BOLZANO</strong>
            </li>
            <li>
              Bank:
              <strong>Cassa Rurale Bolzano</strong>
            </li>
          </ul>
        </div>
      </div>

      <p>Now lean back and enjoy
        <br class="hidden-sm-up"> the
        <strong>new</strong> promo video
        <br class="hidden-sm-up"> and last year's aftermovie!</p>
      <p>Take also the time to like our page and share our event on Facebook!</p>
      <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSnowdays.Bolzano%2F&width=450&layout=standard&action=like&size=large&show_faces=true&share=true&height=80&appId=216607852080016"
        width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 col-md-6 mb-5 mb-md-0">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/163717461?color=008eff&byline=0&portrait=0" width="640" height="360" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-5 mb-md-0">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSnowdays.Bolzano%2Fvideos%2F1346529438744459%2F&width=640&show_text=false&height=360&appId"
          width="640" height="360" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>
</template>