<template name="UserFormSection">
  <div class="row animated fadeIn">
    <div class="col-md-12">
      {{#if Template.subscriptionsReady}}
        {{#if hasAcceptedTandC}}
          {{#if complete}}
            <div class="row mt-5">
              <div class="col-12 text-center">
                <h3><i class="fa fa-check" aria-hidden="true"></i> Congratulations!</h3>
                <p><strong>Your information have been <br class="hidden-sm-up"> successfully saved.</strong><br>
                  Now lean back and enjoy <br class="hidden-sm-up"> the <strong>new</strong> promo video <br
                          class="hidden-sm-up"> and last year's aftermovie!</p>
                <button class="sn-btn-outline-blue" type="button" id="edit-profile">
                  <i class="fa fa-pencil-square-o mr-1" aria-hidden="true"></i> Edit profile
                </button>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 col-md-6 mb-5 mb-md-0">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="https://player.vimeo.com/video/163717461?color=008eff&byline=0&portrait=0" width="640"
                          height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen
                          allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-12 col-md-6 mb-5 mb-md-0">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSnowdays.Bolzano%2Fvideos%2F1346529438744459%2F&width=640&show_text=false&height=360&appId"
                          width="640" height="360" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                          allowTransparency="true"></iframe>
                </div>
              </div>
            </div>
          {{else}}
            <form id="user_form">
              <div class="row">
                <div class="col-12 col-md-4">
                  <h4>Personal</h4>
                  <hr>
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                      <div class="sn-field-group">
                        <input type="text" class="sn-field-input" name="first_name" id="first_name"
                               value="{{lp.firstName}}"
                               required>
                        <label for="first_name" class="sn-field-label">First name</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                      <div class="sn-field-group">
                        <input type="text" class="sn-field-input" name="last_name" id="last_name"
                               value="{{lp.lastName}}"
                               required>
                        <label for="last_name" class="sn-field-label">Last name</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                      <div class="sn-field-group">
                        <select class="sn-field-input sn-a-0" id="gender" name="gender"
                                required>
                          <option disabled>Choose</option>
                          <option value="M" {{selectedIf lp.gender 'M'}}>Male</option>
                          <option value="F" {{selectedIf lp.gender 'F'}}>Female</option>
                        </select>
                        <label for="gender" class="sn-field-label">Gender</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                      <div class="sn-field-group">
                        <input class="sn-field-input" type="date" name="birth_date" id="birth_date"
                               value="{{lp.birth.date}}" required placeholder="dd/mm/yyyy">
                        <label for="birth_date" class="sn-field-label sn-upper-label">Birth date</label>
                      </div>
                    </div>
                  </div>

                  <div class="sn-field-group">
                    <input type="text" class="sn-field-input" name="birth_country" id="birth_country"
                           value="{{lp.birth.country}}"
                           required>
                    <label for="birth_country" class="sn-field-label">Birth country</label>
                  </div>

                  <div class="sn-field-group">
                    <input type="text" class="sn-field-input" name="university" id="university"
                           value="{{lp.university}}" disabled required>
                    <label for="university" class="sn-field-label">University</label>
                  </div>

                  <h4 class="card-title mt-5 mt-md-0">Contact</h4>
                  <hr>

                  <div class="sn-field-group">
                    <input type="text" class="sn-field-input" name="phone" id="phone" value="{{lp.phone}}"
                           required>
                    <label for="phone" class="sn-field-label">Phone</label>
                  </div>

                  <div class="sn-field-group">
                    <input type="text" class="sn-field-input" name="email" id="email" value="{{lp.email}}"
                           required>
                    <label for="email" class="sn-field-label">Email</label>
                    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock" aria-hidden="true"></i> We
                      won't share it with anyone.
                    </small>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <h4 class="mt-5 mt-md-0">Address</h4>
                  <hr>
                  <div class="row">
                    <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                      <div class="sn-field-group">
                        <input type="text" class="sn-field-input" name="street" id="street" required
                               value="{{lp.info.street}}">
                        <label for="street" class="sn-field-label">Street</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                      <div class="sn-field-group">
                        <input type="text" class="sn-field-input" name="number" id="number" required
                               value="{{lp.info.number}}">
                        <label for="number" class="sn-field-label">#</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-8 col-md-12 col-lg-8">
                      <div class="sn-field-group">
                        <input type="text" class="sn-field-input" name="city" id="city" required
                               value="{{lp.info.city}}">
                        <label for="city" class="sn-field-label">City</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-12 col-lg-4">
                      <div class="sn-field-group">
                        <input type="number" class="sn-field-input" name="zip" id="zip" required
                               value="{{lp.info.zip}}">
                        <label for="zip" class="sn-field-label">ZIP</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                      <div class="sn-field-group">
                        <input type="text" class="sn-field-input" name="province" id="province" required
                               value="{{lp.info.province}}">
                        <label for="province" class="sn-field-label">Province</label>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-12 col-lg-6">
                      <div class="sn-field-group">
                        <input type="text" class="sn-field-input" name="country" id="country" required
                               value="{{lp.info.country}}">
                        <label for="country" class="sn-field-label">Country</label>
                      </div>
                    </div>
                  </div>
                  <h4 class="mt-5 mt-md-0">Preferences</h4>
                  <hr>
                  <div class="sn-field-group">
                    <select class="sn-field-input sn-a-0" id="tshirt" name="tshirt" required>
                      <option disabled>Choose</option>
                      <option value="S" {{selectedIf lp.tshirt 'S'}}>Small</option>
                      <option value="M" {{selectedIf lp.tshirt 'M'}}>Medium</option>
                      <option value="L" {{selectedIf lp.tshirt 'L'}}>Large</option>
                      <option value="XL" {{selectedIf lp.tshirt 'XL'}}>Extra Large</option>
                    </select>
                    <label for="tshirt" class="sn-field-label sn-upper-label">T-shirt size</label>
                  </div>

                  <div class="sn-field-group">
                    <input type="text" class="sn-field-input" name="food_allergies" id="food_allergies"
                           value="{{lp.foodAllergies}}" required>
                    <label for="food_allergies" class="sn-field-label">Food allergies</label>
                    <small class="form-text text-muted">Separate with commas, set 'None' otherwise.</small>
                  </div>

                  <h4 class="mt-5 mt-md-0">Documents
                    <small class="text-muted">png/jpg</small>
                  </h4>
                  <hr>
                  {{#if lp.hasPersonalID}}
                    <p class="animated fadeIn mb-0"><i class="fa fa-check" aria-hidden="true"></i> Personal ID</p>
                  {{else}}
                    {{#with uploadingPID}}
                      <p class="sn-loader">Uploading...</p>
                    {{else}}
                      <input type="file" name="has_personal_id" id="has_personal_id"
                             class="sn-input-file sn-btn-rounded"/>
                      <label for="has_personal_id"><i class="fa fa-cloud-upload mr-2" aria-hidden="true"></i><b>Personal
                        ID</b></label>
                    {{/with}}
                  {{/if}}
                  {{#if lp.hasStudentID}}
                    <p class="animated fadeIn"><i class="fa fa-check" aria-hidden="true"></i> Student ID</p>
                  {{else}}
                    {{#with uploadingSID}}
                      <p class="sn-loader mt-1">Uploading...</p>
                    {{else}}
                      <input type="file" name="has_student_id" id="has_student_id"
                             class="sn-input-file sn-btn-rounded mt-2"/>
                      <label for="has_student_id" class="mt-1"><i class="fa fa-cloud-upload mr-2"
                                                                  aria-hidden="true"></i><b>Student
                        ID</b></label>
                    {{/with}}
                  {{/if}}
                </div>

                <div class="col-12 col-md-4">
                  <h4 class="mt-5 mt-md-0">Activities</h4>
                  <hr>
                  <h4 class="sn-card-subtitle text-muted">
                    Day 1
                  </h4>
                  <div class="sn-field-group">
                    <select class="sn-field-input sn-a-0" id="d1_activity" name="d1_activity">
                      <option disabled>Choose</option>
                      <option value="relax" {{selectedIf lp.day1.activity 'relax'}}>Relax</option>
                      <option value="ski" {{selectedIf lp.day1.activity 'ski'}}>Ski</option>
                      <option value="snowboard" {{selectedIf lp.day1.activity 'snowboard'}}>Snowboard</option>
                      <option value="sledging" {{selectedIf lp.day1.activity 'sledging'}}>Sledging</option>
                    </select>
                    <label for="d1_activity" class="sn-field-label sn-upper-label">Activity</label>
                  </div>
                  <div class="sn-field-group">
                    <select class="sn-field-input sn-a-0" id="d1_rental" name="d1_rental">
                      <option disabled>Choose</option>
                      <option value="no" {{selectedIf lp.day1.rental 'no'}}>No</option>
                      <option value="ski" {{selectedIf lp.day1.rental 'ski'}}>Only skis</option>
                      <option value="ski boots" {{selectedIf lp.day1.rental 'ski boots'}}>Only ski boots</option>
                      <option value="ski + boots" {{selectedIf lp.day1.rental 'ski + boots'}}>Ski + boots</option>
                      <option value="snowboard" {{selectedIf lp.day1.rental 'snowboard'}}>Only snowboard</option>
                      <option value="snowboard boots" {{selectedIf lp.day1.rental 'snowboard boots'}}>Only snowboard
                        boots
                      </option>
                      <option value="snowboard + boots" {{selectedIf lp.day1.rental 'snowboard + boots'}}>Snowboard +
                        boots
                      </option>
                      <option value="sledge" {{selectedIf lp.day1.rental 'sledge'}}>Sledge</option>
                    </select>
                    <label for="d1_rental" class="sn-field-label sn-upper-label">Rental</label>
                    <small id="d1_rental_help" class="form-text text-muted">
                      Not included.
                    </small>
                  </div>

                  <hr>
                  <h4 class="sn-card-subtitle text-muted">
                    Day 2
                  </h4>
                  <div class="sn-field-group">
                    <select class="sn-field-input sn-a-0" id="d2_activity" name="d2_activity">
                      <option disabled value="">Choose</option>
                      <option value="relax" {{selectedIf lp.day2.activity 'relax'}}>Relax</option>
                      <option value="ski" {{selectedIf lp.day2.activity 'ski'}}>Ski</option>
                      <option value="ski race" {{selectedIf lp.day2.activity 'ski race'}}>Ski race</option>
                      <option value="snowboard" {{selectedIf lp.day2.activity 'snowboard'}}>Snowboard</option>
                      <option value="snowboard race" {{selectedIf lp.day2.activity 'snowboard race'}}>Snowboard race
                      </option>
                      <option value="snowshoe hiking" {{selectedIf lp.day2.activity 'snowshoe hiking'}}>Snowshoe
                        hiking
                      </option>
                      <option value="cross country" {{selectedIf lp.day2.activity 'cross country'}}>Cross country
                        skiing
                      </option>
                    </select>
                    <label for="d2_activity" class="sn-field-label sn-upper-label">Activity</label>
                  </div>
                  <div class="sn-field-group">
                    <select class="sn-field-input sn-a-0" id="d2_rental" name="d2_rental">
                      <option disabled>Choose</option>
                      <option value="no" {{selectedIf lp.day2.rental 'no'}}>No</option>
                      <option value="ski" {{selectedIf lp.day2.rental 'ski'}}>Only skis</option>
                      <option value="ski boots" {{selectedIf lp.day2.rental 'ski boots'}}>Only ski boots</option>
                      <option value="ski + boots" {{selectedIf lp.day2.rental 'ski + boots'}}>Ski + boots</option>
                      <option value="snowboard" {{selectedIf lp.day2.rental 'snowboard'}}>Only snowboard</option>
                      <option value="snowboard boots" {{selectedIf lp.day2.rental 'snowboard boots'}}>Only snowboard
                        boots
                      </option>
                      <option value="snowboard + boots" {{selectedIf lp.day2.rental 'snowboard + boots'}}>Snowboard +
                        boots
                      </option>
                      <option value="snow rackets" {{selectedIf lp.day2.rental 'snow rackets'}}>Snow rackets</option>
                      <option value="cross country ski" {{selectedIf lp.day2.rental 'cross country ski'}}>Cross country
                        ski
                      </option>
                    </select>
                    <label for="d2_rental" class="sn-field-label sn-upper-label">Rental</label>
                    <small id="d2_rental_help" class="form-text text-muted">
                      Not included.
                    </small>
                  </div>
                  <div class="form-group">
                    <label class="custom-control custom-checkbox">
                      {{#if lp.day2.course}}
                        <input type="checkbox" class="custom-control-input" name="d2_course" checked>
                      {{else}}
                        <input type="checkbox" class="custom-control-input" name="d2_course">
                      {{/if}}
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Free ski course</span>
                    </label>
                  </div>

                  <hr>
                  <h4 class="sn-card-subtitle text-muted">
                    Day 3
                  </h4>
                  <div class="sn-field-group">
                    <div>
                      <label class="custom-control custom-checkbox">
                        {{#if lp.isVolleyPlayer}}
                          <input type="checkbox" class="custom-control-input" name="is_volley_player" checked>
                        {{else}}
                          <input type="checkbox" class="custom-control-input" name="is_volley_player">
                        {{/if}}
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Part of Snow Volley's team</span>
                      </label>
                    </div>
                    <div>
                      <label class="custom-control custom-checkbox">
                        {{#if lp.isFootballPlayer}}
                          <input type="checkbox" class="custom-control-input" name="is_football_player" checked>
                        {{else}}
                          <input type="checkbox" class="custom-control-input" name="is_football_player">
                        {{/if}}
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Part of Human Football Table's team</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <nav class="col-12 mb-3 flex-column">
                  <hr>
                  <div class="row">
                    <div class="col-6 text-left">
                      <h6 class="mb-1"><i class="fa fa-question-circle-o mr-1" aria-hidden="true"></i> Need help?</h6>
                      <p>Drop an email to<br>
                        <a href="mailto:rbellon@unibz.it?subject=[Snowdays%20Help]%20{{lp.firstName}}%20{{lp.lastName}}%20({{lp._id}})">rbellon@unibz.it</a>
                      </p>
                    </div>
                    <div class="col-6 text-right">
                      {{#if isInRole 'admin'}}
                        <button type="submit" class="sn-btn-outline-green" name="save" formnovalidate>
                          Save
                        </button>
                      {{else}}
                        <button type="submit" class="sn-btn-outline-green" name="save">
                          Save
                        </button>
                      {{/if}}

                    </div>
                  </div>
                </nav>
              </div>
            </form>
          {{/if}}
        {{else}}
          <div class="row">
            <div class="col-12">
              <h4>Letter of Agreement</h4>
              <p>
                The undersigned, participant at “Bolzano Snowdays” from 9th to 11th March 2017, declares to release the
                organisers from any liability towards the undersigned and from any responsibility regarding potential
                casualties suffered or a damage inflicted to a third party in the exercise of the activities of the
                whole sports event.
              </p>
              <h5>Legal aspects</h5>
              <p>
                During the whole event, if I willingly or grossly negligently damage anything I will be held responsible
                for the complete amount of the damage inflicted.
                <!--<br>In case of property damages either to student dorms or-->
                <!--to guest houses, I will pay the related amount of the damage inflicted.-->
                <br>If I break or lose my sledge
                during the Moon-Sledge-Riding on Thursday 9th, I will pay a fee of 150€ to SCUB.<br>The Snowdays Team
                cannot take any responsibility for sport accidents or self-inflicted accidents, thefts or losses of any
                kind. Please take care and look after your belongings yourself.<br>I authorize the release of pictures
                of
                myself taken during the event from 9th to 11th March 2017 on the official website of the event, on other
                internet channels controlled by the organizational team and on informational material.
              </p>
              {{#if isExternal}}
                <h5>Sleeping</h5>
                <p>
                  I accept to follow the house rules of the student dorms and the instructions of my host.<br>I accept
                  to be excluded from Snowdays in case of violation of house rules, host’s instructions and
                  common rules of behavior aimed at ensuring a pleasant environment.<br>If I cause any damage to the
                  student dorm and/or I lose the key, SCUB reserves the right of keeping a deposit of 50€, which
                  will not be returned to me after the event.
                </p>
              {{/if}}
              <h5>Bus damages</h5>
              <p>If I cause any damage to the buses, I will pay a fee of 100€ as agreed with the bus company.</p>
            </div>
          </div>
          <div class="row">
            <nav class="col-12 mb-3 flex-column">
              <hr>
              <div class="row text-left">
                <div class="col-6">
                  <h6 class="mb-1"><i class="fa fa-question-circle-o mr-1" aria-hidden="true"></i>Need help?</h6>
                  <p>Drop an email to<br>
                    <a href="mailto:rbellon@unibz.it?subject=[Snowdays%20Help]%20{{lp.firstName}}%20{{lp.lastName}}%20({{lp._id}})">rbellon@unibz.it</a>
                  </p>
                </div>
                <div class="col-6 text-right">
                  <button type="button" class="sn-btn-outline-blue" id="acceptTandC">
                    <i class="fa fa-file-text-o mr-2" aria-hidden="true"></i> I agree to the Terms and Conditions
                  </button>
                </div>
              </div>
            </nav>
          </div>
        {{/if}}
      {{else}}
        {{> Loader}}
      {{/if}}
    </div>
  </div>
</template>