<template name="TCSection">
  <div class="row">
    <div class="col-12">
      <h3 class="mb-3">LETTER OF AGREEMENT</h3>
      <h5 class="mb-2">SKIPASSES</h5>
      <p>
        When you arrive in Bolzano and do the check-in you will receive the skipasses for the following days. Non-skiers will also receive a skipass for the third day in order to reach the basecamp.
        From the moment you receive the skipass/es you are fully responsible for them. In case of loss you will have to buy a new one on your own. 
      </p>
      <h5 class="mb-2">RENTAL MATERIAL</h5>
      <p>
        If you are renting any material or equipment, you agree to return all equipment in the same condition as received, reasonable wear and tear excepted. If the equipment is not returned in good condition at the end of the event or if repairs or replacements are required, you agree to pay all labor, material and shipping charges to replace any equipment which is lost, stolen or damaged beyond repair. 
      </p>
      <h5 class="mb-2">PHOTOGRAPHY RELEASE</h5>
      <p>
        There may be an official photographer present at our event. By attending you consent and authorize the use and production of the photographs/videos by Snowdays on our website and social media. These same photographs/video may be used for any purpose including, but not limited to, promotion, advertising and public relations without further compensation or consent.
      </p>
      <h5 class="mb-2">LOSS OR DAMAGE TO PROPERTY</h5>
      <p>
        Snowdays does not accept responsibility and expressly excludes liability to the fullest extent permitted by law for any loss, theft, damage or destruction to any personal property in whole or in part for any reason whatsoever, even if left in the care of the staff and/or helpers of the event.
      </p>
      <h5 class="mb-2">ASSUMPTION OF RISKS </h5>
      <p>
        In consideration of your participation at Snowdays, you acknowledge that you are aware of the possible risks, dangers and hazards associated with your participation in the event, including the possible risk of severe or fatal injury to yourself or others. These risks include but are not limited to the following:
The risks associated with travel to and from locations to be visited during the event, including transportation provided by commercial, private and/or public motor vehicles;
Intoxication and/or alcohol poisoning from the alcohol you consume whether voluntarily or through coercion.
You acknowledge that your participation to Snowdays entail known and unknown risks that could result in physical or emotional injury, pregnancy, paralysis, death, or damage to yourself, to property or to third parties. You expressly agree and promise to accept and assume all of the risks existing the event. Your participation to the event is purely voluntary, and you elect to participate despite the risks.
You expressly renounce any future claim or legal action against Snowdays and its staff. 
      </p>
      <h5 class="mb-2">BUS DAMAGES </h5>
      <p>
        For every damage (including vomit) that occurs to the buses caused by yourself, you will pay a fee of 100€ or the amount necessary to cover the damages caused, as agreed with the bus company.
      </p>
      
      <h4 class="mb-2">STUDENTS DORMS   </h4>
      <h5 class="mb-2">DAMAGE</h5>
      <p>You are liable for any damage caused to the student dorm/gym building or property caused by you or any persons in your party (whether or not staying at the student dorm/gym during your stay). Snowdays reserves the right to debit such amounts as it shall in its sole discretion to compensate or make good the loss, damage, costs or expenses incurred or suffered by Snowdays as a result of the aforesaid. Regardless, Snowdays further reserves the right to commence legal proceedings against you without notice.
        Snowdays has a strict NO SMOKING policy in all the student dorms and the gyms. Smoking is prohibited in any part of the building. 
        Failure to comply with these policies shall entitles us to terminate your stay at the student dorm/gym at our sole discretion and you must leave the building immediately without compensation or reimbursement. 
        You shall be liable for any costs, loss or damage to the student dorm/gym arising from your failure to comply with these policies and Snowdays reserves the right to charge you for any such costs, loss or damage incurred by the student dorm/gym, and therefore retain the deposit of €50 or a part of it to cover any reasonable losses and expenses.
        </p>
          <h5 class="mb-2">RESTRICTIONS & RULES</h5>
      <p>You may not bring the following into the student dorms
          <ul>
              <li>pets or livestock</li>
              <li>weapons</li>
              <li>alcohol and drugs</li>
              <li>glass bottles</li>
              <li>any electrical appliances and/or equipment for heating and/or cooking purposes</li>
            </ul>  
            Snowdays reserves the right to remove and/or confiscate any of the above items found in any student dorm/gym immediately without notice to you and to charge you for any costs incurred for taking such action or for any loss or damage caused to the student dorm/gym, premises or property or to any participant or third party as a result of your failure to comply with this policy.
            Snowdays further reserves the right to ask you to leave the student dorm/gym and remove your belongings from the room immediately if we shall, in our sole opinion, deem that you have used your place of accommodation in an irresponsible manner or in a manner that will compromise the safety of, or cause damage and/or harm to the student dorm/gym, the other guests, our staff or any other persons, without any compensation and/or any reimbursement to you.
            </p>
            <h5 class="mb-2">ALLERGIES  </h5>
            <p>
              Snowdays makes every effort to accommodate the various dietary requirements of the participants and handles food allergies seriously. Every effort is made to instruct our staff regarding the potential severity of food allergies and to minimize allergic reactions. Please be advised that every effort will be made to have no allergic reactions, food may come in contact with items containing allergens, and there is always a risk of contamination or cross contamination. Participants with concerns need to be aware of these risks. Snowdays will assume no liability for any adverse reactions that may occur during the event.            </p>
      
      <h5 class="mb-2">PROTECTION OF PRIVACY  </h5>
      <p>
          The personal information requested on this form will only be used for the purpose of implementing this waiver and will not be shared with any other entity.
      </p>
      <h5 class="mb-2">ACKNOWLEDGEMENT  </h5>
      <p>
        You acknowledge that you have read this agreement in all its parts and that you have executed this agreement voluntarily.</p>
      {{#if isExternal}}
        <h5 class="mb-2">Sleeping</h5>
        <p>
          I accept to follow the house rules of the student dorms and the instructions of my host.<br>I accept
          to be excluded from Snowdays in case of violation of house rules, host’s instructions and
          common rules of behavior aimed at ensuring a pleasant environment.<br>If I cause any damage to the
          student dorm and/or I lose the key, SCUB reserves the right of keeping a deposit of 50€, which
          will not be returned to me after the event.
        </p>
      {{/if}}
    </div>
  </div>

  <!-- footer -->
  <div class="row">
    <nav class="col-12 mb-3 flex-column">
      <hr>
      <div class="row text-left">
        <div class="col-6">
          <h6 class="mb-1"><i class="fa fa-question-circle-o mr-1" aria-hidden="true"></i>Need help?</h6>
          <p>Drop an email to<br>
            <a
              href="mailto:info@snowdays.it?subject=[Snowdays%20Help]%20{{lp.firstName}}%20{{lp.lastName}}%20({{lp._id}})">info@snowdays.it</a>
          </p>
        </div>
        <div class="col-6 text-right">
          <button type="button" class="sn-btn-outline-blue" id="acceptTandC">
            <i class="fa fa-file-text-o mr-2" aria-hidden="true"></i> I agree to the Terms and Conditions
          </button>
        </div>
      </div>
    </nav>
  </div>
</template>