<template name="TCSection">
  <div class="row">
    <div class="col-12">
      <h3 class="mb-3">Letter of Agreement</h3>
      <h5 class="mb-2">SKIPASSES</h5>
      <p>
          When you arrive in Bolzano and do the check-in you will receive the skipasses for the following days. Non-skiers will also receive a skipass for the third day in order to reach the basecamp. From the moment you receive the skipass/es you are fully responsible of them. In case of loss you will have to buy a new one on your own.
      </p>
      <h5 class="mb-2">PHOTOGRAPHY RELEASE</h5>
      <p>
          There may be an official photographer present at our event. By attending you consent and authorize the use and production of the photographs/videos by Snowdays on our website and social media. These same photographs/video may be used for any purpose including, but not limited to, promotion, advertising and public relations without further compensation or consent.
      </p>
      <h5 class="mb-2">LOSS OR DAMAGE TO PROPERTY</h5>
      <p>
          Snowdays does not accept responsibility and expressly excludes liability to the fullest extent permitted by law for any loss or damage to any personal property left unattended during the event.
      </p>
      <h4 class="mb-2">ASSUMPTION OF RISKS: </h4>
      <p>
          In consideration of my participation at Snowdays, I acknowledge that I am aware of the possible risks, dangers and hazards associated with my participation in the event (including the possible risk of severe or fatal injury to myself or others). These risks include but are not limited to the following:
The risks associated with travel to and from locations to be visited during the event, including transportation provided by commercial, private and/or public motor vehicles;
Intoxication and/or alcohol poisoning from the alcohol I consume whether voluntarily or through coercion;
The possibility of bodily injury (broken bones and soft tissue damage) including dental damages from falling down, being knocked down or being involved in a physical confrontation whether caused by myself or someone else;
The risks associated with returning to my residence.
      </p>
      <h4 class="mb-2">PROTECTION OF PRIVACY  </h4>
      <p>
          The personal information requested on this form will only be used for the purpose of implementing this waiver and will not be shared with any other entity.
      </p>
      <h4 class="mb-2">STUDENTS DORMS   </h4>
      <h5 class="mb-2">DAMAGE</h5>
      <p>You are liable for any damage caused to the student dorm building or property caused by you or any persons in your party (whether or not staying at the student dorm during your stay). Snowdays reserves the right to debit such amounts as it shall in its sole discretion to compensate or make good the loss, damage, costs or expenses incurred or suffered by Snowdays as a result of the aforesaid. Regardless, Snowdays further reserves the right to commence legal proceedings against you without notice.
          Snowdays has a strict NO SMOKING policy in all the student dorms. Smoking is prohibited in any part of the building. 
           
          Failure to comply with these policies shall entitles us to terminate your stay at the student dorm at our sole discretion and you must leave the building immediately without compensation or reimbursement. 
          You shall be liable for any costs, loss or damage to the student dorm arising from your failure to comply with these policies and Snowdays reserves the right to charge you for any such costs, loss or damage incurred by the student dorms.
          </p>
          <h5 class="mb-2">RESTRICTIONS</h5>
      <p>You may not bring the following into the student dorms
          <ul>
              <li>pets</li>
              <li>livestock</li>
              <li>weapons</li>
              <li>any electrical appliances and/or equipment for heating and/or cooking purposes</li>
            </ul>  
          Tune Hotels reserves the right to remove and/or confiscate any of the above items found in any Hotel room immediately without notice to you and to charge you for any costs incurred for taking such action or for any loss or damage caused to the Hotel room, premises or property or to any Hotel guests or third party as a result of your failure to comply with this policy.
          Tune Hotels further reserves the right to ask you to leave the Hotel and remove your belongings from the room immediately if we shall, in our sole opinion, deem that you have used the Hotel room in an irresponsible manner or in a manner that will compromise the safety of, or cause damage and/or harm to the Hotel room, the Hotel premises, the other Hotel guests, our staff or any other persons or the reputation of Tune Hotels, without any compensation and/or any reimbursement to you.
          Tune Hotels is committed to providing a smoke-free environment in all Hotel premises. Smoking is prohibited in any part of the Hotel premises including but not limited to Hotel rooms, except in any restricted smoking area(s) designated by Tune Hotels (if any) (“Non Smoking Policy”).
          </p>

      <h4 class="mb-2">ACKNOWLEDGEMENT  </h4>
      <p>
          I acknowledge that I have read this agreement in all its parts and that I have executed this agreement voluntarily.
      </p>
      {{#if isExternal}}
        <h5 class="mb-2">Sleeping</h5>
        <p>
          I accept to follow the house rules of the student dorms and the instructions of my host.<br>I accept
          to be excluded from Snowdays in case of violation of house rules, host’s instructions and
          common rules of behavior aimed at ensuring a pleasant environment.<br>If I cause any damage to the
          student dorm and/or I lose the key, SCUB reserves the right of keeping a deposit of 50€, which
          will not be returned to me after the event.
        </p>
      {{/if}}
      <h5 class="mb-2">Bus damages</h5>
      <p>If I cause any damage to the buses, I will pay a fee of 100€ as agreed with the bus company.</p>
    </div>
  </div>

  <!-- footer -->
  <div class="row">
    <nav class="col-12 mb-3 flex-column">
      <hr>
      <div class="row text-left">
        <div class="col-6">
          <h6 class="mb-1"><i class="fa fa-question-circle-o mr-1" aria-hidden="true"></i>Need help?</h6>
          <p>Drop an email to<br>
            <a
              href="mailto:it@snowdays.it?subject=[Snowdays%20Help]%20{{lp.firstName}}%20{{lp.lastName}}%20({{lp._id}})">it@snowdays.it</a>
          </p>
        </div>
        <div class="col-6 text-right">
          <button type="button" class="sn-btn-outline-blue" id="acceptTandC">
            <i class="fa fa-file-text-o mr-2" aria-hidden="true"></i> I agree to the Terms and Conditions
          </button>
        </div>
      </div>
    </nav>
  </div>
</template>